body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column;
}
.logout {
  background-color: #1FD5CA;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem;
  color: white;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
.logout-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  border-color: #1FD5CA;
  box-sizing: border-box;
}

.container h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="file"],
.form-group input[type="text"],
.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input[type="submit"] {
  border: none;
  background-color: #1FD5CA;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.form-group input[type="submit"]:hover {
  background-color: #17b3a6;
}

.qr-code,
.barcode {
  text-align: center;
  margin-top: 20px;
}

.qr-code img,
.barcode img {
  max-width: 100%;
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .logout {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .form-group input[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }

  .container h2 {
    font-size: 20px;
  }

  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group input[type="submit"] {
    padding: 8px;
    font-size: 14px;
  }
}
